<?xml version="1.0"?>
<ruleset name="HowOldAreYou">
	<description>Coding standards for the How Old Are You WordPress plugin.</description>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="cache" value=".phpcs-cache"/>
	<arg name="parallel" value="8"/>
	<arg name="colors"/>
	<arg value="ps"/>

	<file>how-old-are-you.php</file>
	<file>uninstall.php</file>
	<file>src</file>
	<file>templates</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="Universal.Files.SeparateFunctionsFromOO.Mixed"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="how-old-are-you"/>
			</property>
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>
</ruleset>
